@charset "UTF-8";
body {
    background-color: rgb(227, 243, 200);
    font-family: Courier, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(0, 41, 19);
    background-color: rgb(90, 109, 59);
}
h2{
    color: rgb(86, 133, 1);
}
p{
    text-align: justify;
    text-indent: 3em;
}
