
*{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
h1{
    color: rgb(72, 133, 63);
    text-align: center;
    text-shadow:1px 2px 3px rgb(34, 63, 30) ;
}
h2{
color: #254421;
}

body{
    background-image: linear-gradient(to right, #59a54e, #5EA653, #71A668);
    background-attachment: fixed;
}

main{
    background-color: rgb(237, 247, 234);  /*cor do fundo */
    border-radius: 10px; /*deixar a borda aredontado */
    box-shadow: 5px 5px 15px rgba(37, 68, 33, 0.671); /*sombrear a borda */
    width: 600px; /*largura da borda*/
    padding: 10px; /*preenchimento*/
    margin: auto; /*margem*/

}